<h1><%= @patient.name %></h1>

<h2><%= @patient.age %></h2>

<% @patient.appointments.each do |appointment| %>
    <%=link_to appointment.appointment_datetime.strftime('%B %d, %Y at %R'), appointment %>
    <%= link_to appointment.doctor.name, appointment.doctor %><br><br>
<% end %>